.scroll-to-top-button {
    display: none;
    position: fixed;
    right: 25px;
    bottom: 40px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100% 100% 0%;
    z-index: 999;
    box-shadow: 0 0 10px #333;
}

.scroll-to-top-button.visible {
    display: block;
}
.arrow__Style{
    border: none;
    background: var( --primary-blue);
    color: #fff;
    width: 40px;
    height: 40px;
    transition: ease .3s;
}
.arrow__Style:hover{
    background: var(--primary-black);
    color: #fff;
}