.saveDifferentOffer__handler{
    padding: 80px 0;
    background: #F2F2FF;
}
.saveDifferentOffer__heading h3{
    font-size: 30px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
}
.saveDifferentOffer__handler .cart__subTit{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.saveDifferentOffer__handler .cart__subTit .save__oldPrice{
    font-size: 21px;
    font-weight: 400;
    text-decoration: line-through;
}
.saveDifferentOffer__handler .cart__subTit .save__priceDesc{
    font-size: 13px;
    font-weight: 400;
    color: #318200;
    text-transform: capitalize;
}
.saveDifferentOffer__handler .cart__subTit .save__newPrice{
    font-size: 21px;
    font-weight: 700;
    color: #318200;
}
.saveDifferentOffer__handler .cart__subTit .price__badge{
    background-color: #eafcde;
    border: none;    
    color: #318200;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    border-radius: 4px;
    font-size: 12px;
    line-height: 18px;
    padding: 2px 6px;
    white-space: nowrap;
    margin-left: 2px;
}