.discover__Ads__categories__handler h3{
    line-height: 36px;
    font-weight: 700;
    font-size: 36px;
}
.discover__Ads__categories__handler p{
    font-size: 18px;
    color: #6c6c6c;
    margin-bottom: 30px;
}