.list__card__items{
    padding-bottom: 5px;
    padding-bottom: 50px;
    margin-bottom: 22px;
    border-bottom: 3px solid var(--primary-blue);
}
.card__list__titels{
    margin-bottom: 19px;
}
.card__title{
    padding-top: 2px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    overflow: hidden;
    transition: all ease-in .2s;
    cursor: pointer;
}
.card__title:hover{
    color: var(--primary-blue);
}
.card__title .label{
    margin-bottom: -1px;
    font-size: 14px;
    color: var(--primary-blue);
    text-transform: uppercase;
    font-weight: 700;
}
.card__list__middle{
    margin-bottom: 19px;
    width: 100%;
}
.boxList__middle{
    /* width: 25%; */
    padding: 0 10px;
    line-height: 22px;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #ddd;
}
.boxList__middle:last-child{
    border-right: 0;
}
.middle__icon{
    padding-right: 15px;
}
.middle__icon i{
    color: #888;
    font-size: 14px;
}
.middle__desc .type{
    text-transform: uppercase;
    color: #888;
    font-size: 10px;
}
.middle__desc .name{
    /* position: relative;
    overflow: hidden; */
    font-size: 13px;
    font-weight: 700 !important;
    color: #222;
    cursor: pointer;
}
.list__card__adjust__height{
position: relative;
height: 60px;
overflow: hidden;
}
.dellar__img{
    margin-right: 17px;
    height: 42px;
    width: 42px;
    line-height: 42px;
    vertical-align: top;
    background-color: #eee;
    border-radius: 50%;
}
.dellar__img img{
    border-radius: 50%;
}
.dellar__name{
    margin: 5px 0 1px;
    padding-top: 0;
    font-size: 13px;
    line-height: 15px;
    color: #000;
}
.dellar__phone i{
    font-size: 12px;
    color: #1bc744;
    margin-left: 1px;
    margin-right: 4px;
}
.dellar__phone span{
    margin-right: 12px;
    font-size: 13px;
    font-weight: 700;
    /* vertical-align: top; */
    color: #6ec1e4;
}

/* start responsive */
@media screen and (max-width: 600px) {
    .boxList__middle{
        border-right: none !important;
        border-bottom: 1px solid #ddd !important;
        margin-bottom: 10px;
    }
    .middle__desc{
        display: flex;
    }
    .middle__desc .name{
        margin-left: 10px;
    }
}