.faqSave__handler{
    padding: 80px 0;
    background: #F2F2FF;
}
.faq__box{
    margin-bottom: 16px;
    background-color: transparent !important;
    overflow: hidden;
    border: 1px solid hsl(300 100% 25%/0.15) !important;
    border-radius: 12px !important;
}
.faq__question .accordion-button{
    background-color: hsla(300, 100%, 25%, 0.048) !important;
    cursor: pointer;
    padding: 20px !important;
    padding-right: 30px !important;
    color: hsl(0 0% 27%) !important;
    font-size: 18px !important;
}
.accordion-button:not(.collapsed){
    box-shadow: none;
}
.accordion-button:focus{
    box-shadow: none;
}
.faq__question .accordion-button:not(.collapsed)::after{
    background-image: none;
    font-weight: 600;
    font-size: 30px;
    content: "\2212";
    position: relative;
    color: hsl(300 100% 25%) !important;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq__question .accordion-button::after{
    background-image: none !important;
    font-weight: 600;
    font-size: 30px;
    content: '\002B';
    position: relative;
    color: hsl(300 100% 25%) !important;
    left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq__answer{
    border-radius: 0 0 0px 0px !important;
    margin-bottom: 15px !important;
    background-color: hsl(300 100% 25%/0.01);
    color: hsl(0 0% 27%) !important;
    padding: 20px !important;
    font-size: 1rem !important;
}
.faqSave__image__handler{
    padding-left: 40px;
}
.faqSave__image{
    height: 520px;
}
.faqSave__image img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    object-fit: cover;
    vertical-align: middle;
}
/* start ersposnive */
@media screen and (max-width: 600px) {
    .faq__question .accordion-button{
        padding-right: 20px !important;
    }
    .accordion-button{
        justify-content: space-between;
    }
    
}
@media screen and (max-width: 992px){
    .faqSave__image__handler{
        padding-left: 0;
        padding-top: 20px;
    }
    .faqSave__image{
        height: inherit;
    }
}