.homeMainHero__handler .dynamic__hero__handler{
    background-image: url('../../assets/discoverHomeImg/heroImg.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.homeMainHero__handler .dynamic__hero__handler .overlay{
    /* height: 120vh;  */
    /* background: rgba(92, 87, 94, 0.47); */
     background: rgba(52, 7, 214, 0.47);
}
.homeMainHero__handler .want__title{
    color: #ffffff;
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
}
.homeMainHero__handler .discover__hero__text h1,
.homeMainHero__handler .discover__hero__text p{
    color: #000;
}