.dynamic__hero__handler{
    /* background-image: url('../../assets/discoverHomeImg/heroImg.png'); */
    /* background-image: url('../../assets/logo/heroCover.png'); */
    background-image: url('../../assets/logo/Untitled-5.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
    /* height: 120vh; */
    position: relative;
    padding: 200px 0;
}
/* .dynamic__hero__handler .overlay{
    height: 120vh; 
    background: rgba(92, 87, 94, 0.47);
     background: rgba(52, 7, 214, 0.47);
} */
.discover__hero__text{
    position: relative;
    z-index: 10;
    text-align: center;
}
.discover__hero__text__title{
    width: 100%;
}
.discover__hero__text h1{
    font-size: 60px;
    font-weight: 700;
    line-height: 60px;
    /* color: var(--nav-link-color); */
    /* color: var(--primary-blue); */
    color: #ffffff;
}
.discover__hero__text p{
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
    /* color: var(--nav-link-color); */
    margin-top: 20px;
}
.discover__hero__form{
    padding: 40px 0;
    position: relative;
}
.discover__hero__form form{
    line-height: 24px;
    font-weight: normal;
    font-style: normal;
    color: #6c6c6c;
    font-size: 14px;
}
.discover__form{
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
    padding: 10px;
}
.dicover__form__location select{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.discover__form__item{
    width: 100%;
    height: 60px;
}
.discover__form select{
    border: 1px solid #fff;
    box-shadow: none;
    padding: 0 30px;
}
.discover__form select:focus{
    box-shadow: none;
}
.discover__form__btn button{
    width: 100%;
    height: 60px;
    text-transform: uppercase;
    line-height: 37px;
    font-size: 16px;
    padding: 0 20px;
    background-color: #27d68f;
    border: 1px solid #27d68f;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) .2s;
}
.discover__form__btn button:hover{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    color: #27d68f;
}

@media screen and (max-width: 992px) {
    .discover__hero__text h1{
        font-size: 40px;
    line-height: 40px;
    }
    .dicover__form__location, .dicover__form__category,
    .dicover__form__sub__category{
        margin-bottom: 10px
    }
    .discover__form{
        padding: 20px;
    }
    .dicover__form__location select{
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .discover__form__btn button{
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}