body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  /* height: 300vh; */
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}
:root {
  --primary-blue: #2c25eb; 
  --nav-Bg: #11468F; 
  --nav-link-color: #3F52E3; 
  --primary-red: #cd2c37; 
  --primary-black: #153e4d; 
}