body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif !important;
  /* height: 300vh; */
}
*, *:before, *:after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
img{
  width: 100%;
}
li{
  list-style: none;
}
:root {
  /* --primary-blue: #2c25eb;  */
  --primary-blue: #4728a5; 
  /* --primary-blue-fade: rgba(71, 40, 165, 0.425);  */
  --primary-blue-fade: rgba(136, 117, 193, 0.425); 
  /* --nav-Bg: #11468F;  */
  --nav-Bg: #7752FE; 
  /* --nav-link-color: #3F52E3;  */
  --nav-link-color: #190482; 
  --primary-red: #cd2c37; 
  --primary-orange: #FFB200;
  --primary-black: #27d68f; 
  --primary-black-fade: rgba(39, 214, 144, 0.285); 
  --primary-gray: #545454;
}