.discoverNameSec__handler {
    position: relative;
}

.discover__item__handler .discover__img {
    position: relative;
    padding: 40px 0;
}

.discover__item__handler .discover__img img {
    width: 100%;
    height: 80vh;
    border-radius: 20px;

}

.discover__title__name {
    margin: 30px 0 60px 0;
}

.discover__title__name h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.discover__title__name h2 span {
    color: var(--primary-blue);
}

.discover__title__name p {
    font-size: 18px;
}

.discover__best__sell {
    margin-bottom: 60px;
}

.discover__best__sell h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}

.best__sell__item {
    padding: 30px 0;
    width: 100%;
}

.best__sell__item img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}
/* .review__handler{
    display: flex;
    align-items: center;
} */
.vote__number{
    font-weight: 600;
    color: var(--primary-orange);
    text-align: center;
}
.vote__number i{
    font-size: 80px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
.number__inside__star{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 26px; 
    padding: 0 5px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.review__handler h2 {
    font-size: 42px;
    font-weight: 700;
    text-transform: capitalize;
}

.review__handler h2 span {
    color: var(--primary-blue);
}
.voteAndRecommendHandler{
    margin-bottom: 40px;
    border-radius: 10px;
    padding: 20px;
    background-color: #f1f1f1;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.give__review {
    margin-bottom: 10px;
    text-transform: capitalize;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--primary-blue);
    color: #fff;
    transition: all ease-in .2s;
}

.give__review.recomend{
    background-color: var(--primary-orange);

}
.give__review:hover{
    background-color: var(--primary-black);
}
.vote__icon i{
    font-size: 22px;
    margin-right: 6px;
}

.vote__text__reminder{
    text-decoration: underline;
    color: var(--primary-blue);
    text-transform: capitalize;
    margin: 10px 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
}
.vote__text__numbers{
    text-decoration: underline;
    color: #FF5959;
    text-transform: capitalize;
    margin: 10px 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.vote__text__reminder i{
    font-size: 20px;
    color: var(--primary-black);
    margin-right: 5px;
}
.vote__text__reminder:hover{
    color: var(--primary-black);
}
.remider__for__signUp__handler p{
    color: #FF5959;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    transition: all ease-in .2s;
    text-align: center;
}
.remider__for__signUp__icon{
 display: flex;
 justify-content: center;
}
.remider__for__signUp__icon i{
    color: #FF5959;
}
.remider__for__signUp__handler p:hover{
    color: var(--primary-black);
}
.voteModal__hadnler{
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 20px !important;
    padding: 30px !important;
}
.modal-title h2{
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 700;
    color: var(--primary-blue);

}
.modal-body h4{
    text-transform: capitalize;
    color: var(--primary-blue);
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}
 .form-check input{
    cursor: pointer;
}
 .form-check label{
    text-transform: capitalize;
    margin-left: 10px;
    font-weight: 600;
    color: var(--primary-black);
    font-size: 20px;
}
.btn__vote__submit{
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary-blue);
    color: #fff;
    border: 1px solid var(--primary-blue);
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin: 20px 0;
    text-transform: capitalize;
    transition: all ease-in .2s;
}
.btn__vote__submit:hover{
    background-color: var(--primary-black);
    border: 1px solid var(--primary-black);
}
.input__form__handler{
    text-align: left;
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}
.form-check-input{
    border-color: var(--primary-black);
}
.form-check-input:checked {
    background-color: var(--primary-black); 
    box-shadow: 0 0 5px var(--primary-black); 
    border-color: var(--primary-black);
}
.form-check-input:focus {
    outline: none; 
    border: 2px solid var(--primary-black); 
    box-shadow: 0 0 5px var(--primary-black);
}
@media screen and (max-width: 992px) {
    .give__review {
        width: 100%;
    }
    .btn__vote__submit{
        font-size: 16px;
        padding: 10px 15px;
    }
    .discoverNameSec__handler h2 {
        font-size: 28px;
    }

    .discover__item__handler .discover__img img {
        width: 100%;
        height: 40vh;
        border-radius: 20px;
    }
    .marginTopInResponsive{
        margin-top: 20px;
    }
    /* .vote__number{
        text-align: left;
    } */
}